<html>
    <head>
        <meta charset="utf-8">
        <title>BBS</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-moment@4.1.0/dist/vue-moment.min.js"></script>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div id="container">
            <nav id="navigator">
                <a class="btn" href="#container">↑</a>
                <a class="btn" href="#form">↓</a>
                <section id="threads">
                    <h2>Threads</h2>
                    <ul>
                        <li v-for="thread in threads">
                            <a :href='"/threads/" + thread.ident'>{{ thread.name }}</a>
                        </li>
                    </ul>
                    <input placeholder="New thread" v-model="newThreadTitle">
                    <input type="submit" id="submit-thread" v-on:click="submitThread" value="Create">
                </section>
            </nav>
            <main id="app">
                <h1>{{ threadTitle }}</h1>
                <section v-for="message in messages">
                    <div><a class="anchor" :id='"c-" + message.seqNo' :href='"/#c-" + message.seqNo'>#{{ message.seqNo }}</a>&nbsp;
                        {{ message.date | moment("YYYY-MM-DD HH:mm:ss") }} - {{ message.name }}</div>
                    <article>{{ message.content }}</article>
                </section>
                <div id="form" v-if="active">
                    <input placeholder="Anonymous" v-model="authorName"><br>
                    <textarea rows=3 cols=40 v-model="content"></textarea><br>
                    <input type="submit" id="submit" v-on:click="submitComment" value="送信">
                </div>
            </main>
        </div>
        <script src="/main.js">
            start();
        </script>
    </body>
</html>
